.caption{
    text-align: center;
}
.container .row img{
    width: 100px;
    height: 100px;
}
a.thumbnail{
    background-color: #f0f0f0;
}

.cb-ip-widget input[type=text] {
    width: 1.75em;
}
.container .row .link-group li img {
    width: 20px;
    height: 20px;
}
.link-group {
    margin: 10px;
    /*margin-top: 20px;*/
    padding: 30px;

}
.link-group li {
    list-style-type: none;
}
.quick-links ul {
    margin-top: 20px;
}