.datepicker{
    width: 5.2em;
}
.add-btn{
    float: right;
    margin-bottom: 5px;
}
.form-horizontal .help-inline{
    vertical-align: top;
    padding-top: 1px;
}
.nobr  { white-space:nowrap; }

hr{
    margin-top: 0px;
}
.spaceup{
    margin-top: 1em;
}
.form-inline div.chzn-container{
    top: 10px;
}
table caption{
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}
