@media (max-width: 1200px) {
    .table input{
        width: 80%;
    }
    .control-bar *:not(.chzn-select *){
        width: 80%;
    }
    .search-query-div{
        margin-right: 5px;
    }
}

@media (max-width: 980px) {
    .back_panel{
        top: 56px;
    }
    .control-bar .chzn-select-container{
        width: 300px;
    }
}
/*@media (max-width: 768px){
    .search-query-div{
        width: 150px;
    }
}*/

.control-bar div{
    margin-left: 0px;
    margin-bottom: 5px;
    margin-right: 5px;
}
.datepicker{
    width: 80px;
}
.datepicker-block{
    width: 350px;
}
.search-query{
    float: none;
}
