.control-bar div{
    margin-left: 0px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.datepicker{
    width: 80px;
}
.datepicker-block{
    width: 350px;
}


@media (max-width: 1200px) {
    .table input{
        width: 80%;
    }
}

@media (max-width: 980px) {
    .back_panel{
        top: 56px;
    }
    .control-bar .chzn-select-container{
        width: 300px;
    }
}
@media (max-width: 768px){
    .add-btn a{
        float: none;
        margin-left: 5px;
    }
}

.add-btn{
    float: right;
}
