---
layout: base
---
<ul class="breadcrumb">
    <li><a href="index.html">Home</a> <span class="divider">/</span></li>
    <li>Personal Settings <span class="divider">/</span></li>
    <li class="active">Avatar</li>
</ul>
{% include hidden_back_button.html %}
<div class="row">
    <div class="span2" style="text-align: center;">
        <img src="static/focus/img/50.png" style="padding: 5px;">
        <form method="GET" action="avatar.html">
            <button type="submit" class="btn btn-primary">Remove</button>
        </form>
    </div>
    <div class="span10">
        <form method="GET" class="form form-horizontal well">
            <div class="control-group">
                <label class="control-label" for="id_gravatar_profile_url">Gravatar profile</label>
                <div class="controls">
                    <input type="text" id="id_gravatar_profile_url" value="http://en.gravatar.com/matt">
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Save</button>

                <a href="javascript:history.back()" class="btn">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% include back_button.html %}
