---
layout: base
backbuttonned: true
---
<ul class="breadcrumb">
    <li><a href="index.html">Home</a> <span class="divider">/</span></li>
    <li>Personal Settings <span class="divider">/</span></li>
    <li class="active">Credentials</li>
</ul>
{% include hidden_back_button.html %}
<textarea class="span5" rows="9">
export OS_USERNAME="admin"
export OS_PASSWORD="&lt;insert your password here&gt;"
export OS_TENANT_NAME="test"
export OS_AUTH_URL="http://172.18.40.108:5000/v2.0/"
export OS_COMPUTE_API_VERSION="1.1"
export OS_AUTH_STRATEGY="keystone"
export NOVA_VERSION=1.1
export USE_KEYSTONE=true
</textarea>
<br>
<a href="#">Download credentials.</a>
<p> Edit file before use, change your password. </p>
{% include back_button.html %}
