---
layout: base
---
<ul class="breadcrumb">
    <li><a href="index.html">Home</a> <span class="divider">/</span></li>
    <li>Virtual Machines <span class="divider">/</span></li>
    <li class="active">Manage</li>
    <li class="pull-right"><a class="btn btn-mini btn-success nobr" href="spawn_vm.html"><i class="icon-plus-sign icon-white"></i>&nbsp;Spawn New VM</a></li>
</ul>
{% include hidden_back_button.html %}
{% include control_bar.html %}
<div class="alert alert-info">
    Use search to find virtual machines you are interested in.
</div>
{% include back_button.html %}
<!-- TODO: REMOVE ON PRODUCTION -->
<script>
    $('.form-search').attr('action', 'manage_vms.html');
</script>
