---
layout: base
---
<ul class="breadcrumb">
    <li><a href="index.html">Home</a> <span class="divider">/</span></li>
    <li class="active">Members</li>
</ul>
{% include control_bar_cut.html %}
<table class="table table-striped table-bordered table-condensed">
    <thead>
    <tr>
        <th>Email</th>
        <th>Userame</th>
        <th>Project</th>
        <th>Roles</th>
    </tr>
    <tr>
        <td>dmaslennikov@griddynamics.com</td>
        <td>dmaslennikov</td>
        <td>OSCORE, IT</td>
        <td>Member, Global Admin</td>
    </tr>
    <tr>
        <td>spugachev@griddynamics.com</td>
        <td>spugachev</td>
        <td>OSCORE, IT</td>
        <td>Member</td>
    </tr>
    <tr>
        <td>apugachev@griddynamics.com</td>
        <td>apugachev</td>
        <td>IT</td>
        <td>Member, Global Admin</td>
    </tr>
    <tr>
        <td>nsavin@griddynamics.com</td>
        <td>nsavin</td>
        <td>OSCORE</td>
        <td>Member, Global Admin</td>
    </tr>
    <tr>
        <td>aababilov@griddynamics.com</td>
        <td>aababilov</td>
        <td>OSCORE, IT</td>
        <td>Member</td>
    </tr>
    </thead>
</table>
{% include pagination.html %}
{% include back_button.html %}
