---
layout: base
---
<ul class="breadcrumb">
    <li><a href="index.html">Home</a> <span class="divider">/</span></li>
    <li>Projects <span class="divider">/</span></li>
    <li class="active">Security Groups</li>
    <li class="pull-right"><a class="btn btn-mini btn-success" href="add_new_security_group.html"><i class="icon-plus-sign icon-white"></i>&nbsp;Add New Security Group</a></li>
</ul>
{% include hidden_back_button.html %}
<div class="searchable-table-container" ng-controller="SearchableTableController"
     ng-init="shown_columns = [
        {key: 'name', title: 'Name', type: 'text', placeholder: 'Enter Name', help: 'Help!'},
        {key: 'project', title: 'Project', type: 'select', type_options: {options: [{k: 'OSCORE', v: 'OSCORE'}, {k: 'IT', v: 'IT'}]}, placeholder: 'Enter Name', help: ''},
        {key: 'description', title: 'Description', type: 'text'}];
     hidden_columns = [];
     saved_searches = [
        {name: 'test', query: 'name:test'},
        {name: 'complex', query: 'name:complex really complex search'}
        ];
     mockup_data = {
        name: ['edit_security_group.html', 'default'],
        project: ['project_details.html', 'OSCORE'],
        description: ['default descriptiondefault descriptiondefault descriptiondefault descriptiondefault descriptiondefault descriptiondefault descriptiondefault descriptiondefault descriptiondefault descriptiondefault description']
     };
     empty_message = 'Use search to find security groups you are interested in.'
     ">
{% include control_bar.html %}
    {% literal %}
    <div class="alert alert-info" ng-show="mockup_rows==undefined">{{ empty_message }}</div>

    <div  ng-hide="mockup_rows == undefined">
        <table class="table table-striped table-bordered table-condensed">
    <thead>
<!--    <tr>
        <th><input type="checkbox"></th>
        <th>Name</th>
        <th>Project</th>
        <th>Description</th>
    </tr>-->
<tr>
    <th><input type="checkbox"></th>
    <th ng-repeat="x in shown_columns" class="nobr">{{ x.title }}</th>
</tr>
    </thead>
    <tbody>
    <tr ng-repeat="i in mockup_rows">
        <td><input type="checkbox"></td>
        <td ng-repeat="x in shown_columns" ng-bind-html-unsafe="mockup_data[x.key] | maybe_link"></td>
    </tr>
<!--    <tr>
        <td><input type="checkbox"></td>
        <td><a href="edit_security_group.html">default</a></td>
        <td>OSCORE</td>
        <td>default descriptiondefault descriptiondefault descriptiondefault descriptiondefault descriptiondefault descriptiondefault descriptiondefault descriptiondefault descriptiondefault descriptiondefault description</td>
    </tr>
    <tr>
        <td><input type="checkbox" checked></td>
        <td><a href="edit_security_group.html">web</a></td>
        <td>OSCORE</td>
        <td>web web web web web web web web web web web web web web web web web web web web web web web web web web web web web web web web web web </td>
    </tr>
    <tr>
        <td><input type="checkbox"></td>
        <td><a href="edit_security_group.html">test</a></td>
        <td>IT</td>
        <td>testtesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttest</td>
    </tr>-->
    </tbody>
        </table>
        {% endliteral %}
        {% include pagination.html %}
    </div>
</div>
{% include back_button.html %}
