---
layout: base
---
<ul class="breadcrumb">
    <li><a href="index.html">Home</a> <span class="divider">/</span></li>
    <li><a href="manage_vms_clear.html">Virtual Machines</a> <span class="divider">/</span></li>
    <li class="active">Test VM Name</li>
</ul>
{% include hidden_back_button.html %}
<div class="row">
    <div class="btn-group span3"  style="margin: 0px 0px 20px 30px;">
        <a href="vm_details.html" class="btn btn-success">Details</a>
        <a href="spawn_vm.html" class="btn btn-success">Spawn New</a>
    </div>
    <div class="input-append">
        <input class="span5" id="appendedInputButton" size="16" type="text" placeholder="People, to be notified about this VM when it gain an IP"><button class="btn" type="button">Send</button>
    </div>
</div>
<table class="table table-striped table-bordered table-condensed" style="margin-top: 5px;">
    <tr>
        <td colspan=2>
            <h4>
                VM
            </h4>
        </td>
    </tr>
    <tr>
        <td>Name</td>
        <td>Test VM Name</td>
    </tr>
    <tr>
        <td>Password</td>
        <td>asd12312asdaw21312</td>
    </tr>
    <tr>
        <td width="200px">Id</td>
        <td>47d4ae6e-cbe1-444e-877d-c4dc9cb696c4</td>
    </tr>
    <tr>
        <td>Network IP</td>
        <td><img src="static/focus/img/ajax-loader.gif"></td>
    </tr>
    <tr>
        <td>Created</td>
        <td>09/06/2012 08:32:29</td>
    </tr>
    <tr>
        <td>Project</td>
        <td><a href="project_details.html">qwert</a></td>
    </tr>
    <tr>
        <td>User</td>
        <td>
            <a href="/global/users/3775a71296e04cf1b2d57a32fc4b0222/">
                openstack-core@griddynamics.com
            </a>
        </td>
    </tr>
</table>
<table class="table table-striped table-bordered table-condensed">
    <tr>
        <td colspan=2>
            <h4>
                Image
            </h4>
        </td>
    </tr>
    <tr>
        <td width="200px">Id</td>
        <td>50e2761f-b93e-4277-af4e-17afef999296</td>
    </tr>
    <tr>
        <td>Name</td>
        <td><a href="image_details.html">mini_image_log.img</a></td>
    </tr>
    <tr>
        <td>Size(bytes)</td>
        <td>20971520</td>
    </tr>
    <tr>
        <td>Type</td>
        <td>Amazon Like</td>
    </tr>
</table>
<table class="table table-striped table-bordered table-condensed">
    <tr>
        <td colspan=2>
            <h4>
                Flavor
            </h4>
        </td>
    </tr>
    <tr>
        <td width="200px">Id</td>
        <td>1</td>
    </tr>
    <tr>
        <td>Name</td>
        <td><a href="flavor_details.html">m1.tiny</a></td>
    </tr>
    <tr>
        <td>RAM(MB)</td>
        <td>512</td>
    </tr>
    <tr>
        <td>Disk(Gb)</td>
        <td>0</td>
    </tr>
    <tr>
        <td>Additional Disk(Gb)</td>
        <td>0</td>
    </tr>
    <tr>
        <td>Virtual CPUs</td>
        <td>1</td>
    </tr>
</table>
{% include back_button.html %}
