---
layout: base
---
<ul class="breadcrumb">
    <li><a href="index.html">Home</a> <span class="divider">/</span></li>
    <li>Virtual Machines <span class="divider">/</span></li>
    <li><a href="manage_vms_clear.html">Manage</a> <span class="divider">/</span></li>
    <li class="active">Test VM Name</li>
    <li class="pull-right"><a class="btn btn-mini btn-success" href="spawn_vm.html"><i class="icon-plus-sign icon-white"></i>&nbsp;Spawn VM</a></li>
</ul>
{% include hidden_back_button.html %}
<div>
    <div class="btn-group span4" style="margin: 0px 0px 20px 0px;">
        <a href="#" class="btn btn-success">Reboot</a><a href="#" class="btn btn-success">Reset</a><a href="#" class="btn btn-success">Show VNC</a><a href="#" class="btn btn-success">Show log</a>
    </div>
    <div class="span1 pull-right" style="margin: 0px 0px 20px 0px;">
        <a href="#" class="btn btn-danger">Delete</a>
    </div>
</div>
<table class="table table-striped table-bordered table-condensed" style="margin-top: 5px;">
    <caption>VM</caption>
    <tr>
        <td width="200px">Id</td>
        <td>47d4ae6e-cbe1-444e-877d-c4dc9cb696c4</td>
    </tr>
    <tr>
        <td>VLAN</td>
        <td>321</td>
    </tr>
    <tr>
        <td>IP</td>
        <td>192.168.100.3</td>
    </tr>
    <tr>
        <td>Created</td>
        <td>09/06/2012 08:32:34</td>
    </tr>
    <tr>
        <td>Project</td>
        <td><a href="project_details.html">OSCORE</a></td>
    </tr>
    <tr>
        <td>User</td>
        <td>
            <a href="/global/users/3775a71296e04cf1b2d57a32fc4b0222/"> openstack-core@griddynamics.com </a>
        </td>
    </tr>
</table>
<table class="table table-striped table-bordered table-condensed">
    <caption>Image</caption>
    <tr>
        <td width="200px">Id</td>
        <td>50e2761f-b93e-4277-af4e-17afef999296</td>
    </tr>
    <tr>
        <td>Name</td>
        <td><a href="image_details.html">mini_image.img</a></td>
    </tr>
    <tr>
        <td>Size(bytes)</td>
        <td>20971520</td>
    </tr>
    <tr>
        <td>Type</td>
        <td>Amazon Like</td>
    </tr>
</table>
<table class="table table-striped table-bordered table-condensed">
    <caption>Flavor</caption>
    <tr>
        <td width="200px">Id</td>
        <td>1</td>
    </tr>
    <tr>
        <td>Name</td>
        <td><a href="flavor_details.html">m1.tiny</a></td>
    </tr>
    <tr>
        <td>RAM(MB)</td>
        <td>512</td>
    </tr>
    <tr>
        <td>Disk(Gb)</td>
        <td>0</td>
    </tr>
    <tr>
        <td>Additional Disk(Gb)</td>
        <td>0</td>
    </tr>
    <tr>
        <td>Virtual CPUs</td>
        <td>1</td>
    </tr>
</table>
{% include back_button.html %}
