:plain
  ---
  layout: base
  ---
%div.row
  %div.span12.quick-links
    %ul.thumbnails
      %li.span2
        %a.thumbnail(href="spawn_vm.html")
          %img(alt="Spawn VM" src="static/focus/img/thumbs/spawn_vm.png")
          %div.caption
            %h5.nobr Spawn VM
      %li.span2
        %a.thumbnail(href="manage_vms.html")
          %img(alt="Manage VMs" src="static/focus/img/thumbs/manage.png")
          %div.caption
            %h5.nobr Manage VMs
      %li.span2
        %a.thumbnail(href="manage_images.html")
          %img(alt="Manage Images" src="static/focus/img/thumbs/manage.png")
          %div.caption
            %h5.nobr Manage Images
      %li.span2
        %a.thumbnail(href="upload_image.html")
          %img(alt="Register Image" src="static/focus/img/thumbs/upload.png")
          %div.caption
            %h5.nobr Register Image
      %li.span2
        %a.thumbnail(href="projects.html")
          %img(alt="Projects Summary" src="static/focus/img/thumbs/summary.png")
          %div.caption
            %h5.nobr Projects Summary
      %li.span2
        %a.thumbnail(href="members.html")
          %img(alt="Members" src="static/focus/img/thumbs/members.png")
          %div.caption
            %h5.nobr Members

%div.row
  %div.span4
    %div.link-group.thumbnail
      %h4 Virtual Machines
      %ul
        %li
          %a(href="spawn_vm.html")
            %img(alt="Spawn" src="static/focus/img/thumbs/spawn_vm.png")
          %a(href="spawn_vm.html") Spawn
        %li
          %a(href="manage_vms.html")
            %img(alt="Manage" src="static/focus/img/thumbs/manage.png")
          %a(href="manage_vms.html") Manage
        %li
          %a(href="flavors.html")
            %img(alt="Types" src="static/focus/img/thumbs/flavors.png")
          %a(href="flavors.html") Types
    %div.link-group.thumbnail
      %h4 Images
      %ul
        %li
          %a(href="upload_image.html")
            %img(alt="Register" src="static/focus/img/thumbs/upload.png")
          %a(href="upload_image.html") Register
        %li
          %a(href="manage_images.html")
            %img(alt="Manage" src="static/focus/img/thumbs/manage.png")
          %a(href="manage_images.html") Manage
  %div.span4
    %div.link-group.thumbnail
      %h4 Projects
      %ul
        %li
          %a(href="projects.html")
            %img(alt="Summary" src="static/focus/img/thumbs/summary.png")
          %a(href="projects.html") Summary
        %li
          %a(href="security_groups.html")
            %img(alt="Security Groups" src="static/focus/img/thumbs/security_groups.png")
          %a(href="security_groups.html") Security Groups
        %li
          %a(href="billing.html")
            %img(alt="Billing" src="static/focus/img/thumbs/billing.png")
          %a(href="billing.html") Billing
        %li
          %a(href="members.html")
            %img(alt="Members" src="static/focus/img/thumbs/members.png")
          %a(href="members.html") Members
        %li
          %a(href="audit.html")
            %img(alt="Audit" src="static/focus/img/thumbs/audit.png")
          %a(href="audit.html") Audit
        %li
          %a(href="invite.html")
            %img(alt="Invite" src="static/focus/img/thumbs/invite.png")
          %a(href="invite.html") Invite
  %div.span4
    %div.link-group.thumbnail
      %h4 Personal settings
      %ul
        %li
          %a(href="ssh.html")
            %img(alt="SSH Keys" src="static/focus/img/thumbs/terminal.png")
          %a(href="ssh.html") SSH Keys
        %li
          %a(href="credentials.html")
            %img(alt="Credentials" src="static/focus/img/thumbs/credentials.jpg")
          %a(href="credentials.html") Credentials
        %li
          %a(href="notifications.html")
            %img(alt="Notifications" src="static/focus/img/thumbs/notifications.png")
          %a(href="notifications.html") Notifications
        %li
          %a(href="avatar.html")
            %img(alt="Avatar" src="static/focus/img/thumbs/avatar.png")
          %a(href="avatar.html") Avatar
        %li
          %a(href="change_password.html")
            %img(alt="Change Password" src="static/focus/img/thumbs/change_password.png")
          %a(href="change_password.html") Change Password
