:plain
  ---
  layout: base
  ---
%ul.breadcrumb
  %li
    %a(href="index.html") Home
    %span.divider /
  %li
    Virtual Machines
    %span.divider /
  %li.active
    Types
%div.tiled-list
  %div.row
    %div.span6(style="overflow: hidden")
      %table.tiled-list__item
        %tr
          %td.name m1.tiny
          %td.value 256&nbsp;MB
          %td.value $6.4
          %td.value 300&nbsp;GB
          %td.value 300&nbsp;GB
          %td.value 2
        %tr
          %td.actions.nobr
            %a(class="btn btn-mini btn-success" href="spawn_vm.html?type=1")
              %i(class="icon-plus-sign icon-white")
              VM
          %td.title RAM
          %td.title Cost
          %td.title Disk
          %td.title Additional&nbsp;Disk
          %td.title Virtual&nbsp;CPUs
    %div.span6(style="overflow: hidden")
      %table.tiled-list__item
        %tr
          %td.name m1.small
          %td.value 256&nbsp;MB
          %td.value $6.4
          %td.value 300&nbsp;GB
          %td.value 300&nbsp;GB
          %td.value 2
        %tr
          %td.actions.nobr
            %a(class="btn btn-mini btn-success" href="spawn_vm.html?type=2")
              %i(class="icon-plus-sign icon-white")
              VM
          %td.title RAM
          %td.title Cost
          %td.title Disk
          %td.title Additional&nbsp;Disk
          %td.title Virtual&nbsp;CPUs
  %div.row
    %div.span6(style="overflow: hidden")
      %table.tiled-list__item
        %tr
          %td.name m1.medium
          %td.value 256&nbsp;MB
          %td.value $6.4
          %td.value 300&nbsp;GB
          %td.value 300&nbsp;GB
          %td.value 2
        %tr
          %td.actions.nobr
            %a(class="btn btn-mini btn-success" href="spawn_vm.html?type=3")
              %i(class="icon-plus-sign icon-white")
              VM
          %td.title RAM
          %td.title Cost
          %td.title Disk
          %td.title Additional&nbsp;Disk
          %td.title Virtual&nbsp;CPUs
    %div.span6(style="overflow: hidden")
      %table.tiled-list__item
        %tr
          %td.name m1.large
          %td.value 256&nbsp;MB
          %td.value $6.4
          %td.value 300&nbsp;GB
          %td.value 300&nbsp;GB
          %td.value 2
        %tr
          %td.actions.nobr
            %a(class="btn btn-mini btn-success" href="spawn_vm.html?type=4")
              %i(class="icon-plus-sign icon-white")
              VM
          %td.title RAM
          %td.title Cost
          %td.title Disk
          %td.title Additional&nbsp;Disk
          %td.title Virtual&nbsp;CPUs
  %div.row
    %div.span6(style="overflow: hidden"  href="spawn_vm.html?type=5")
      %table.tiled-list__item
        %tr
          %td.name m1.xlarge
          %td.value 256&nbsp;MB
          %td.value $6.4
          %td.value 300&nbsp;GB
          %td.value 300&nbsp;GB
          %td.value 2
        %tr
          %td.actions.nobr
            %a(class="btn btn-mini btn-success" href="spawn_vm.html?type=5")
              %i(class="icon-plus-sign icon-white")
              VM
          %td.title RAM
          %td.title Cost
          %td.title Disk
          %td.title Additional&nbsp;Disk
          %td.title Virtual&nbsp;CPUs