:plain
  ---
  layout: base
  omit_navbar: true
  ---
%div.row
  %div.offset3.span6
    %form.form-horizontal(method="GET" action="index.html")
      %div.control-group
        %div.controls
          %h4
            Login
      %div.control-group
        %label.control-label(for="inputEmail")
          Name
        %div.controls
          %input(type="text" id="inputEmail" placeholder="Name")
      %div.control-group
        %label.control-label(for="inputPassword")
          Password
        %div.controls
          %input(type="text" id="inputPassword" placeholder="Password")
      %div.control-group
        %div.controls
          %label.checkbox
            %input.checkbox(type="checkbox")
            Remember me
          %button.btn(type="submit")
            Sign in
          &nbsp;::&nbsp;
          %a(href="recover_password.html")
            recover password
          &nbsp;::&nbsp;
          %a(href="recover_name.html")
            recover name
        
