:plain
  ---
  layout: base
  angular_app: DashboardApp
  ---
:css
  #accordion2 {
  background-color: #f0f0f0;
  border: 1px #ddd solid;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    transition: all 0.2s ease-in-out 0s;
  }
  .accordion-group {
  margin: 0;
  border: 0;
  }
  #accordion2 .accordion-inner {
    padding: 0;
  }
  #accordion2 .accordion-inner p{
    padding: 0;
    margin: 0;
  }
  .links-repo {
  margin-top: 10px;
  }
  .links-repo ul {
    margin: 0;
    padding: 0;
  }
  .ui-accordion-content {
    padding: 0 !important;
  }
  
  #accordion2 .accordion-inner  a {
    display: inline-block;
    width: 100%;
    padding: 10px;
  }
  #accordion2 .accordion-inner  a:hover {
  background-color: #ddd;
  }
  .quick-links .droppable {
    height: 170px !important;
    width: 170px !important;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
  }
  .quick-links  .droppable-empty {}
  .quick-links  .droppable span.thumbnail {
  height: 160px; 
  background-color: white; 
  line-height: 160px; 
  text-align: center; 
  font-weight: bold; 
  color: #F0F0F0;
  border-color: #ffffff;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  }
  .quick-links .droppable-container {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    width: 200px;
    height: 500px;
  }
  .drop-hover >  span, .drop-hover >  a {
  border: 1px #08c solid;
  color: #555555 !important;
  }
  .accordion-heading a {
  background-color: #ddd;
  }
  .accordion-body a img.small{
  width: 16px;
  height: auto;
  }
  .accordion-body a img.pin {
  border: 0;
  width: 12px;
  height: 12px;
  }
%div.row.all-links(ng-controller="DashboardController")
  {% literal %}
  %div.span2.links-repo
    %div.accordion#accordion2
      %div.accordion-group(ng-repeat="group in links")
        %div.accordion-heading
          %a.accordion-toggle(data-toggle="collapse" href="#accordion2_{{ $index }}" data-parent="#accordion2")
            %b
              {{ group.key }}
        %div.accordion-body.collapse(id="accordion2_{{ $index }}" ng-class="{in: $first}")
          %div.accordion-inner
            %p(ng-repeat="link in group.links")
              %a(href="{{ link.href }}" dashboard-accordion-link='link')
                %img.small(src="{{ link.small }}")
                {{ link.title }}
                %img.pin(ui-if="link.employed" dashboard-link-pin="{{ link.href }}" src="static/focus/img/1354112560_pushpin-2.png")
                %img.pin(ui-if="!link.employed" dashboard-link-pin="{{ link.href }}" src="static/focus/img/1354112565_pin.png")
                  
  
  %div.span10.quick-links
    %div.droppable.droppable-empty(ng-repeat="cell in cells" dashboard-cell-box)
      %span.thumbnail(ui-if="!cell")
        Drag link here
      %a.thumbnail(ui-if="cell" href="{{ cell.href }}" dashboard-cell-link="cell")
        %img(src="{{ cell.img }}")
        %div.caption
          %h5.nobr
            {{ cell.full_title }}
  {% endliteral %}      
