:plain
  ---
  layout: base
  omit_navbar: true
  ---
%div.row
  %div.offset3.span4
    %form.form-horizontal(method="GET" action="login.html")
      %div.control-group
        %div.controls
          %h4
            Password Recovery
        %label.control-label(for="inputEmail")
          Email
        %div.controls
          %input(type="text" id="inputEmail" placeholder="Email")
      %div.control-group
        %div.controls
          %button.btn(type="submit")
            Send Confirmation
          %a(href="login.html")
            Login
