:plain
  ---
  layout: base
  omit_navbar: true
  ---
%div.row
  %div.offset3.span6
    %form.form-horizontal(method="GET" action="login.html")
      %div.control-group
        %div.controls
          %h4
            Name Recovery
        %label.control-label(for="inputEmail")
          Email
        %div.controls
          %input(type="text" id="inputEmail" placeholder="Email")
      %div.control-group
        %div.controls
          %button.btn(type="submit")
            Send Email with Name
          &nbsp;::&nbsp;
          %a(href="login.html")
            login
          &nbsp;::&nbsp;
          %a(href="recover_password.html")
            recover password

