{% raw %}
<style>
    .control-bar-form {
        position: absolute;   z-index: 100; background-color: rgb(255, 255, 255);
        border: 1px solid rgb(204, 204, 204);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
        -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s; color: rgb(51, 51, 51); top: 2em;
        padding-right: 14px;
    }
    .control-bar-form .close {
        right: -7px;
    }
    #search_form div.chzn-container {
        top: 0 !important;
        width: 60px !important;
    }
    #search_form div.chzn-container a.chzn-single{
        height: 28px;
        border-radius: 4px;
        border-top-color: rgba(0, 0, 0, 0.148438);
        border-right-color: rgba(0, 0, 0, 0.148438);
        border-bottom-color: rgba(0, 0, 0, 0.246094);
        border-left-color: rgba(0, 0, 0, 0.148438);
        color: #333;
    }
    #search_form div.chzn-container a.chzn-single > span{
        padding-top: 3px;
    }
    #search_form div.chzn-container a.chzn-single > div > b{
        margin-top: 2px;
    }
    .form-inline .chzn-container {
        top: 0px !important;
    }
    .control-bar-form form {
        margin-top: 20px;
    }
</style>

<script src="static/focus/js/angular/ControlBarController.js"></script>
<div ng-controller="ControlBarController" ng-init="saved_searches = [
        {name: 'test', query: 'name:test'},
        {name: 'complex really complex search with a very-very long name indeed requiring an ellipsis', query: 'complex really complex search with a very-very long name indeed requiring an ellipsis'}
        ];">
<style type="text/css">
@-moz-document url-prefix() {
  #search_form .btn-group {
    height: 30px;
  }
}
</style>
    <form class="form-inline" id="search_form">
        <div class="input-append search_input_container">
            <input type="text" class="span2 search" ng-model="query">
            <a class="btn dropdown-toggle builder_lever" ng-click="toggleShown('builder')"><span class="caret"></span></a>
        </div>
        <div class="input-append">
            <div class="btn-group">
                <button class="btn btn-straight saved_searches_lever" type="submit" id="do_search_button" ng-click="bringMockupRows([1, 2, 3, 4, 5])">Search</button>
                <a class="btn dropdown-toggle  btn-straight" ng-click="toggleShown('saved_searches')" style="border-radius: 0px 3px 3px 0px"><span class="caret"></span></a>
            </div>
        </div>
        <div class="btn-group per-page" ng-hide="mockup_rows==undefined">
            <select class="chzn-select">
                <option selected>10</option>
                <option>20</option>
                <option>50</option>
                <option>100</option>
            </select>

        </div>
        <a class="btn columns_lever" ng-click="toggleShown('columns')" ng-hide="mockup_rows==undefined">Change Columns</a>
        <div class="btn-group" ng-hide="mockup_rows==undefined">
            <a href="#" class="btn">Export CSV</a>
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Export XML</a></li>
                <li><a href="#">Export JSON</a></li>
            </ul>
        </div>
    </form>
    <!-- ------------- BUILDER ------------------- -->
    <div style="position: absolute;" class="builder_window" my-follow-css='{".search_input_container": ["left", "width"]}'>
        <div class="alert control-bar-form" ng-show="shown.builder" style="right: 0px; left: 0px;">
            <button type="button" class="close" ng-click="toggleShown('builder')">×</button>
            <h5>Query Builder</h5>
            <div class="btn-group">
              <button class="btn" ng-click="build_query()">
                Search
              </button>

              <button class="btn dropdown-toggle" data-toggle="dropdown">
                Add Field
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li ng-repeat="x in visibleControls()"><a ng-click="addField(x.key)">{{ x.title }}</a></li>
              </ul>
            </div>
            

            <form class="form-horizontal form-inline">
                <div class="control-group" ng-repeat="x in already_selected_controls">
                    <label class="control-label">
                        {{ x.title }} 
                        <a href="#"
                           rel="tooltip"
                           ng-show="x.help != ''"
                           data-original-title="{{ x.help }}"><i class="icon-question-sign"></i></a>
                    </label>
                    <div class="controls" style="vertical-align: top">
                        <a ng-click="unselectControl(x.key)" style="float: right"><i class="icon-remove-sign"></i></a>
                        <div  ng-switch on="x.type"  style="margin-right: 15px">
                            <div ng-switch-when="select">
                                <select ng-model="query_parts[x.key]" ng-options="i.k as i.v for i in x.type_options.options" multiple class="chosen" chosen></select>
                            </div>
                            <div ng-switch-when="daterange">
                                <span cb-daterange="query_parts[x.key]" />

                            </div>
                            <div ng-switch-when="ip">
                                <div cb-ip-widget="query_parts[x.key]"></div>
                            </div>
                            <div ng-switch-when="intrange">
                                <div cb-intrange-widget="query_parts[x.key]" cb-intrange-options="x.type_options" style="margin-right: 15px;"></div>
                            </div>
                            <div ng-switch-when="text">
                                <input type="text" name="{{ x.key }}" value="" ng-model="query_parts[x.key]" placeholder="{{ x.placeholder }}">
                            </div>

                        </div>

                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- ------------- SAVED SEARCHES ------------------- -->
    <div style="position: absolute;"  class="saved_searches_window" >
        <div class="alert control-bar-form nobr" ng-show="shown.saved_searches">
            <button type="button" class="close" ng-click="toggleShown('saved_searches')">×</button>
            <h5>Saved Searches</h5>
            <form class="form-inline">
                <input type="text" ng-model="new_search_name" placeholder="Search Name">
                <button class="btn btn-primary"  ng-click="newSearch()">Save New</button>
            </form>
            <table class="table table-condensed table-bordered table-striped">
                <tbody>
                <tr ng-repeat="x in saved_searches">
                    <td>
                        <div style="overflow: hidden;text-overflow: ellipsis; width: 276px;">
                            <a ng-click="applySearch(x.query)">{{ x.name }}</a>
                        </div>
                    </td>
                    <td style="text-align: right; border-left: none;" width="50"><a class="btn btn-danger btn-mini" ng-click="deleteSearch(x.name)">delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- ------------- CHANGE COLUMNS ------------------- -->
    <div  style="position: absolute" class="columns_window" ng-controller="ChangeColumnWindowController">
        <script src="static/focus/js/angular/ChangeColumnWindowController.js"></script>
        <div class="alert control-bar-form nobr" ng-show="shown.columns">
            <button type="button" class="close" ng-click="toggleShown('columns')">×</button>
            <h5>Change Columns</h5>
            <form class="form-inline">
                <div class="row" >
                    <div class="span2">
                        Available<br>
                        <select multiple="true"  style="height: 10em; width: 170px;" ng-model="selected_hidden">
                            <option ng-repeat="x in hidden_columns" value="{{ x.key }}" >{{ x.title }}</option>
                        </select>

                    </div>
                    <div class="span1" style="text-align: center; margin-left: 10px">
                       <div style="vertical-align: top;display: inline-block; position: relative; width: 9em;">
                            <button class="btn"
                                    style="display: inline-block; position: absolute; top: 2em; left: 3em"
                                    ng-click="selectedUp()">
                                <i class="icon-arrow-up"></i>
                            </button>
                            <button class="btn"
                                    style="display: inline-block; position: absolute; top: 4em; left: 0em"
                                    ng-click="selectedHide()">
                                <i class="icon-arrow-left"></i>
                            </button>
                            <button class="btn"
                                    style="display: inline-block; position: absolute; top: 4em; left:3em"
                                    ng-click="selectedShow()">
                                <i class="icon-arrow-right"></i>
                            </button>
                            <button class="btn"
                                    style="position: absolute; top: 6em; left: 3em"
                                    ng-click="selectedDown()">
                                <i class="icon-arrow-down"></i>
                            </button>
                        </div>
                    </div>
                    <div class="span2">

                        Visible<br>
                        <select multiple="true"  style="height: 10em;width: 170px;" ng-model="selected_shown">
                            <option ng-repeat="x in shown_columns" value="{{ x.key }}" >{{ x.title }}</option>
                        </select>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
{% endraw %}
