<form class="form-inline pull-right" id="control_form">
    <div class="btn-group">
        <a href="#" class="btn">Per Page</a>
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#">10</a></li>
            <li><a href="#">20</a></li>
            <li><a href="#">50</a></li>
            <li><a href="#">100</a></li>
        </ul>
    </div>
    <button class="btn" ng-click="columns_selector_shown = ! columns_selector_shown">Change columns</button>
    <div class="btn-group">
        <a href="#" class="btn">Export CSV</a>
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#">Export XML</a></li>
            <li><a href="#">Export JSON</a></li>
        </ul>
    </div>
</form>
