<!DOCTYPE html>
<html lang="en" ng-app="MockupModule">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>
        Altai Private Cloud Administration
    </title>
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="static/img/favicon.ico">

    {% include header_css.html %}
    {% include header_js.html %}
</head>
<body data-spy="scroll" data-target=".subnav" data-offset="50" class="administration">
{% include administration_header_navbar.html %}
<div class="container">
    {{ content }}
</div>
</body>
</html>
