<!DOCTYPE html>
<html lang="en" ng-app{% if page.angular_app %}="{{ page.angular_app }}"{% endif %}>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>
            Altai Private Cloud
        </title>
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="shortcut icon" href="static/img/favicon.ico">

        {% include header_css.html %}
        {% include header_js.html %}
        <script src="static/angular-ui-0.3.1/angular-ui.min.js"></script>
        <script src="static/angular-ui-0.3.1/angular-ui-ieshiv.min.js"></script>
        <script src="static/focus/js/angular/MockupModule.js"></script>
        {% if page.angular_app %}
        <script src="static/focus/js/angular/{{ page.angular_app }}.js?1"></script>
        {% endif %}
    </head>
    <body data-spy="scroll" data-target=".subnav" data-offset="50" class="{% if page.backbuttonned %}backbuttonned{% endif %}">
        {% include header_navbar.html %}
        <div class="container">
            {{ content }}
        </div>
    </body>
</html>
