---
layout: base
---
<ul class="breadcrumb">
    <li><a href="index.html">Home</a> <span class="divider">/</span></li>
    <li>Images <span class="divider">/</span></li>
    <li class="active">Upload</li>
</ul>
{% include hidden_back_button.html %}
<div class="row">
    <div class="span7">
        <form method="POST" class="form-horizontal new-image well">
            <div class="upload-view">
                <fieldset>
                    <div class="control-group ">
                        <label class="control-label">
                            <b>Project</b>
                        </label>
                        <div class="controls">
                            <select name="project" class="chzn-select" id="project" data-placeholder="Select Project" tabindex="1">
                                <option value=""></option>
                                <option value="IT">IT</option>
                                <option value="OSCORE">OSCORE</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group upload-type">
                        <label class="control-label"> Upload type </label>
                        <div class="controls">
                            <label class="radio inline">
                                <input type="radio" value="solid" name="upload_type" onclick="window.location = 'upload_image.html';" tabindex="2"> Solid
                            </label>
                            <label class="radio inline">
                                <input type="radio" value="amazon_like" name="upload_type" onclick="window.location = 'upload_image_amazon_like.html';" tabindex="2"> Amazon Like
                            </label>
                        </div>
                    </div>
                    <div data-error-key="name" class="control-group name">
                        <label class="control-label"> Name </label>
                        <div class="controls">
                            <input type="text" id="id_name" name="name" tabindex="3">
                        </div>
                    </div>
                    {{ content }}
                </fieldset>
                <div class="form-actions">
                    <button disabled="" type="submit" class="btn btn-primary" tabindex="10">Add</button>
                    <a href="javascript: history.back();" class="btn" tabindex="10">Cancel</a>
                </div>
            </div>
        </form>
    </div>
    <div class="span5">
        <h4>Popular Images</h4>
        <ul class="recommended_images">
            <li><a name="Ubuntu" href="#">Ubuntu</a></li>
            <li><a name="Centos" href="#">Centos</a></li>
            <li><a name="Fedora" href="#">Fedora</a></li>
            <li><a name="Gentoo" href="#">Gentoo</a></li>
        </ul>
    </div>
</div>
<hr>
* <i>paste image URL or select file from local disk, then press <button class="btn btn-success btn-mini"><i class="icon-white icon-circle-arrow-up"></i></button></i>
{% include back_button.html %}
